@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 245, 245, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(var(--background-end-rgb)) no-repeat top url("../../public/background.png");
  background-size: 100% 320px;
}

@media only screen and (min-width: 1024px) {
  body {
    background: rgb(var(--background-end-rgb)) no-repeat top url("../../public/background.png");
    background-size: 100% 395px;
  }
}
